.todo-list {
  width: 70%;
}

.todo-form input {
  letter-spacing: 2px;
  padding: 15px;
  font-size: 20px;
  width: 60%;
  border: none;
  border-radius: 5px;
  transition: all .2s;
}

.todo-form form {
  display: flex;
  align-items: center;
}

.todo-form input:focus {
  box-shadow: 10px 10px 20px rgb(220, 160, 255);
}

.todo-form button {
  letter-spacing: 2px;
  padding: 15px;
  font-size: 20px;
  margin: 10px;
  width: 35%;
  background-color: #7406ff40;
  color: #000;
  border: none;
  border-radius: 5px;
  transition: all .2s;
}

.todo-form button:hover {
  background-color: #7606ff69;
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgb(220, 160, 255);
}

.todo-form button:active {
  transform: translateY(0px);
  box-shadow: 0 5px 10px rgb(220, 160, 255);
}

.todo-items {
  list-style: none;
  padding-left: 0;
} 

.todo-items li {
  font-size: 20px;
  letter-spacing: 2px;
  color: #000;
  background-color: #7406ff40;
  border: 0.5px solid white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: fit-content;
  transition: all .2s;
}
 
.todo-items li:hover {
  background-color: #7606ff69;
  cursor: pointer;
  transform: translateY(-2px);
}

@media (max-width: 585px) {
  .todo-form form {
    flex-direction: column;
  }

  .todo-form button { 
    width: 100%;
    margin: 10px 0;
  }

  .todo-form input {
    box-sizing: border-box;
    width: 100%;
  }
}